<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="{{comment.author.avatar}}" alt="Avatar">
    <mat-card-title>{{comment.author.userName}} </mat-card-title>
    <div>{{comment.createdAt | date:'d/M/yy, h:mm a'}}</div>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="!editMode" class="new-comment">
    <p>{{comment.body}}</p>
    </div>
  </mat-card-content>
  <div *ngIf="editMode" class="new-comment">
    <mat-form-field>
      <textarea [(ngModel)]="comment.body" matInput></textarea>
    </mat-form-field>
    <button mat-icon-button color="primary" matTooltip="Send" (click)="updateComment()">
      <mat-icon aria-label="Send">send</mat-icon>
    </button>
  </div>
  <mat-card-actions class="actions-buttons" align="end">    
  <div *ngIf="comment.author.id === this.currentUser.id">      
      <button mat-icon-button color="primary">
        <mat-icon aria-label="Edit" (click)="toggleEditMode()">edit</mat-icon>
      </button>
    <button mat-icon-button color="primary">
      <mat-icon aria-label="Delete" (click)="deleteComment()">delete</mat-icon>
    </button>
  </div>
  <button mat-icon-button color="primary">
    <mat-icon matBadge="{{dislikeCount}}" matBadgeColor="accent" matBadgeSize="medium"
      [matBadgeHidden]="comment.reactions.length === 0 || dislikeCount === 0" aria-label="thumb_down" (click)="likeComment(false)">thumb_down</mat-icon>
  </button>
    <button mat-icon-button color="primary">
      <mat-icon matBadge="{{likeCount}}" matBadgeColor="accent" matBadgeSize="medium"
        [matBadgeHidden]="comment.reactions.length === 0 || likeCount === 0" aria-label="Like" (click)="likeComment(true)">favorite</mat-icon>
    </button>
    <div *ngIf="fans.length > 0">
      <button mat-icon-button color="primary" (click)="toggleFanList()">
        <mat-icon aria-label="Mood">mood</mat-icon>
      </button>
    </div>
    <button mat-icon-button color="accent">
      <mat-icon aria-label="Share">share</mat-icon>
    </button>
  </mat-card-actions>
  <div *ngIf="fans.length > 0 && showFans" class="comments-count">
    User(s) liked this comment: {{fans}}
  </div>
</mat-card>
