<mat-card [ngClass]="{'post-with-comments': showComments}">
  <div *ngIf="loading" class="mat-spinner-wrapper">
    <mat-spinner></mat-spinner>
  </div>
  <mat-card-header>
    <img mat-card-avatar src="{{post.author.avatar}}" alt="Avatar">
    <mat-card-title>{{post.author.userName}}</mat-card-title>
    <div class="date">{{post.createdAt | date:'d/M/yy, h:mm a'}}</div>
  </mat-card-header>
  <div *ngIf="!editMode">
    <img mat-card-image *ngIf="post.previewImage" src="{{post.previewImage}}" alt="Photo" style = 'margin-top: 0!important;'>
    <mat-card-content>
      <p>{{post.body}}</p>     
   </mat-card-content>
   </div>
   <div *ngIf="editMode" class="comments-count">
    <mat-card-content>
    <mat-form-field>
      <textarea [(ngModel)]="post.body" matInput ></textarea>
    </mat-form-field> 
      <div class="image-container">
        <mat-icon *ngIf="post.previewImage" aria-label="Send" (click)="removeImage()">close</mat-icon>
        <img mat-card-image class="post-image" *ngIf="post.previewImage" src="{{post.previewImage}}" alt="Photo">
      </div>
      </mat-card-content>
      <mat-card-actions align="end">
      <input hidden #file accept="image/*" type="file" (change)="loadImage($event.target)">
      <button mat-icon-button color="accent" (click)="file.click()">
        <mat-icon aria-label="Choose an image">image</mat-icon>
      </button>

      <button mat-icon-button color="primary" matTooltip="Post it" >
        <mat-icon aria-label="Send" (click) = "sendPost()">send</mat-icon>
      </button>
    </mat-card-actions>
   </div>
   <mat-card-actions class="actions-buttons" align="end">
     <div *ngIf="currentUser && post.author.id === currentUser.id">
    <button  mat-icon-button color="primary" (click)="editPost()">
      <mat-icon aria-label="Edit">edit</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="deletePost()">
      <mat-icon aria-label="Delete">delete</mat-icon>
    </button>
  </div>

    <button mat-icon-button color="primary" (click)="likePost(false)">
      <mat-icon matBadge="{{dislikeCount}}" matBadgeColor="accent" matBadgeSize="medium"
        [matBadgeHidden]="post.reactions.length === 0 || dislikeCount === 0" aria-label="thumb_down">thumb_down</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="likePost(true)">
      <mat-icon matBadge="{{likeCount}}" matBadgeColor="accent" matBadgeSize="medium"
        [matBadgeHidden]="post.reactions.length === 0 || likeCount === 0" aria-label="Like">favorite</mat-icon>
    </button>    <button mat-icon-button color="accent">
      <mat-icon aria-label="Share">share</mat-icon>
    </button>
    <div *ngIf="fans.length > 0">
      <button mat-icon-button color="primary" (click)="toggleFanList()">
        <mat-icon aria-label="Mood">mood</mat-icon>
      </button>
    </div>
    <button mat-icon-button color="basic" (click)=" toggleComments()">
      <mat-icon matBadge="{{post.comments.length}}" matBadgeColor="warn" matBadgeSize="medium"
        [matBadgeHidden]="post.comments.length === 0" aria-label="Add comment">comment</mat-icon>
    </button>
  </mat-card-actions>
  <div *ngIf="fans.length > 0 && showFans" class="comments-count">
    User(s) liked this post: {{fans}}
  </div>
  <div *ngIf="showComments">
    <mat-divider></mat-divider>
    <div class="new-comment">
      <mat-form-field>
        <textarea [(ngModel)]="newComment.body" matInput placeholder="Comment it..."></textarea>
      </mat-form-field>
      <button mat-icon-button color="primary" matTooltip="Send" (click)="sendComment()">
        <mat-icon aria-label="Send">send</mat-icon>
      </button>
    </div>
    <div *ngIf="post.comments.length > 0" class="comments-count">
      Just {{post.comments.length}} in all
    </div>
    <app-comment *ngFor="let _comment of post.comments" [comment]="_comment" [currentUser]="currentUser" ></app-comment>
  </div>
</mat-card>
